

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

html {

}

p {
	color: black;
	
}

body {
	background-color: #f5f8de;
}

h1 {
	margin: 20px;
	font-size: 1.75em;
	font-weight: bold;
}

#header-nav {
	background-color:#f6b319;
	border-radius:0;
	border: 0;
}

#header-nav .container {
	margin: 0px;
}

.navbar-brand h1 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
    color: white;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
  color: #951C49;
  text-align: center;
  background: #E7E7E7;
}
#nav-list a:hover {
  background: #f6b319;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  background: #E7E7E7;
}


.content {
	clear: right;
}

section {
	overflow: hidden;
	background-color: #ffb29b;
	padding: 10px;
	margin: 10px 0px;
	border: 1px solid black;
	min-height: 150px;
}


